<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vías
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-searchbar  #searchBar *ngIf="showSearch" (ionChange)="searchTrack($event)" animated></ion-searchbar>
        </ion-col>
        <ion-col>
          <ion-button (click)="hideSearchbar()" *ngIf="showSearch" ><ion-icon name="close"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-header>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="viewCreateTrack()"><ion-icon name="trail-sign"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="showSearchbar()"><ion-icon name="search-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <ion-card class="welcome-card" *ngFor="let track of dbTracks | async | filterTrack:textSearch; let i = index">
      <ion-card-header>
        <ion-card-title>{{track.id}} - {{track.typeT}} - {{track.streetOrCarrerT}} - {{track.numberT}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><span><b>Nivel De Congestión:</b> {{track.levelCongestionT}} </span></p>
  
          <ion-button (click)="viewHistoryTrack(track)" color="primary" fill="solid">Historial</ion-button>
          <ion-button (click)="deletetrack(track.id)" color="danger" fill="solid">Eliminar</ion-button>
          <ion-button (click)="viewEditTrack(track)" color="warning" fill="solid">Editar</ion-button>
  
      </ion-card-content>
  
    </ion-card>

  </div>

  
</ion-content>
