<ion-header>
  <ion-toolbar>
    <ion-title>create-track</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar type="indeterminate" *ngIf="showLoader"></ion-progress-bar>

  <form [formGroup]="createTrackForm">

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="typeT">
        <ion-select-option value="Autopista"> Autopista </ion-select-option>
        <ion-select-option value="Carretera Principal"> Carretera Principal </ion-select-option>
        <ion-select-option value="Carretera Secundaria"> Carretera Secundaria </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Calle o Carrera ?</ion-label>
      <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="streetOrCarrerT">
        <ion-select-option value="Calle"> Calle </ion-select-option>
        <ion-select-option value="Carrera"> Carrera </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Número</ion-label>
      <ion-input type="number" formControlName="numberT"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nivel De Congestión</ion-label>
      <ion-input type="number" min="0" max="100" formControlName="levelCongestionT"></ion-input>
    </ion-item>

    &nbsp;

    <ion-button expand="block" *ngIf="!isEditable" [disabled]="!createTrackForm.valid" (click)="createTrack()">Crear Vía</ion-button>
    <ion-button expand="block" *ngIf="isEditable" [disabled]="!createTrackForm.valid" (click)="editTrack()">Editar Vía</ion-button>

</form>

</ion-content>
