<ion-header>
  <ion-toolbar>
    <ion-title>
      Secretarias
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-searchbar  #searchBar *ngIf="showSearch" (ionChange)="searchSecretary($event)" animated></ion-searchbar>
        </ion-col>
        <ion-col>
          <ion-button (click)="hideSearchbar()" *ngIf="showSearch" ><ion-icon name="close"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-header>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="viewCreateSecretary()"><ion-icon name="business"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="showSearchbar()"><ion-icon name="search-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>

  <div class="container">

    <ion-card class="welcome-card" *ngFor="let secretary of dbSecretarys | async | filterSecretary:textSearch; let i = index">
      <ion-card-header>
        <ion-card-title>{{secretary.id}} - {{secretary.nameS}} </ion-card-title>
      </ion-card-header>
      <ion-card-content>
  
          <ion-button color="danger" fill="solid">Eliminar</ion-button>
          <ion-button (click)="viewEditSecretary(secretary)" color="warning" fill="solid">Editar</ion-button>
  
      </ion-card-content>
  
    </ion-card>

  </div>

</ion-content>
