<ion-header>
  <ion-toolbar>
    <ion-title>create-agent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar type="indeterminate" *ngIf="showLoader"></ion-progress-bar>

  <form [formGroup]="createAgentForm">

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="nameA"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" formControlName="lastNameA"></ion-input>
    </ion-item>

    <h5>&nbsp;&nbsp;&nbsp;Experiencia</h5>
    <ion-item>
      <ion-label>Años</ion-label>
      <ion-input type="number" min="0" max="40" formControlName="years"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mesés</ion-label>
      <ion-input type="number" min="0" max="12" formControlName="months"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Secretaria</ion-label>
      <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="secretaryIdA" name="secretary">
        <ion-select-option *ngFor="let secretary of dbSecretarys | async" [value]="secretary.id">{{secretary.nameS}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Vía</ion-label>
      <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="trackIdA" name="track">
        <ion-select-option *ngFor="let track of dbTracks | async" [value]="track.id"> {{track.id}} - {{track.typeT}} - {{track.streetOrCarrerT}} - {{track.numberT}}</ion-select-option>
      </ion-select>
    </ion-item>

    &nbsp;

    <ion-button expand="block" *ngIf="!isEditable" [disabled]="!createAgentForm.valid" (click)="createAgent()">Crear Agente</ion-button>
    <ion-button expand="block" *ngIf="isEditable" [disabled]="!createAgentForm.valid" (click)="editAgent()">Editar Agente</ion-button>

</form>

</ion-content>
