<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historial
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-searchbar  #searchBar *ngIf="showSearch" (ionChange)="searchHistory($event)" animated></ion-searchbar>
        </ion-col>
        <ion-col>
          <ion-button (click)="hideSearchbar()" *ngIf="showSearch" ><ion-icon name="close"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-header>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button (click)="showSearchbar()" color="primary">
    <ion-icon name="search"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content [fullscreen]="true">

  <ion-card class="welcome-card" *ngFor="let history of dbHistory | async | filterHistory:textSearch">
    <ion-card-header>
      <ion-card-title> Historia Número {{history.id}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><span><b>Agente:</b> {{history.agentIdH}} - {{history.agentNameH}} </span></p>
      <p><span><b>Vía: </b> {{history.trackIdH}} - {{history.trackNameH}} </span></p>
      <p><span><b>Fecha De Inicio:</b> {{history.startDateH}} </span></p>
      <p><span><b>Fecha De Final:</b>
          <ng-container *ngIf="history.finalDateH != null; else elseTemplate">
            {{history.finalDateH}}
          </ng-container>
          <ng-template #elseTemplate>
            Ruta Activa
          </ng-template>
        </span></p>
    </ion-card-content>

  </ion-card>

</ion-content>
